.nom-faculte {
    font-size: 20px;
    /* Autres styles souhaités */
}
.blue-text {
    color: royalblue; /* Utilisez le code couleur de bleu roi */
}
.blue-dark-text {
    color: #000080; /* Code couleur pour le bleu foncé */
}
