<body class="error-page">

    <div class="main-wrapper">
        <div class="error-box">
            <div class="error-logo">
                <a href="index.html">
                    <img src="assets/img/logo/Logo Courzelo Text degradé.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="error-box-img">
                <img src="assets/img/error-01.png" alt class="img-fluid">
            </div>
            <h3 class="h2 mb-3"> Oh No! Error 404</h3>
            <p class="h4 font-weight-normal">This page you requested counld not found. May the force be with you!</p>
            <a href="index.html" class="btn btn-primary">Back to Home</a>
        </div>
    </div>


    <script src="assets/js/jquery-3.7.1.min.js" type="48170d96a69eeb189fabd049-text/javascript"></script>

    <script src="assets/js/bootstrap.bundle.min.js" type="48170d96a69eeb189fabd049-text/javascript"></script>

    <script src="assets/js/script.js" type="48170d96a69eeb189fabd049-text/javascript"></script>
    <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="48170d96a69eeb189fabd049-|49" defer></script>
</body>