<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <app-navbar></app-navbar>
        <p-dialog [(visible)]=" updateProfileDialog" [style]="{width: '500px','background-color': '#f0f0f0'}"
            header="Modifier formateur" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="profileForm">
                    <div class="forms ">
                        <label for="firstName">Nom de l'enseignant</label>
                        <div class="field">
                            <div class="sell-group-img">

                                <img *ngIf="profile.photo" [src]="getProfilePhotoUrl(profile)" alt="Blog Photo"
                                    class="img-fluid ">

                            </div>
                            <span class="login-input-wrapper">
                                <input type="text" formControlName="firstName" required [(ngModel)]="profile!.firstName"
                                    pInputText placeholder="Entrer votre nom..."
                                    [ngClass]="!profileForm.controls['firstName'].valid && profileForm.controls['firstName']?.touched?'ng-invalid ng-dirty':''" />
                            </span>
                            <small class="text-red-500"
                                *ngIf="!profileForm.controls['firstName'].valid && profileForm.controls['firstName']?.touched "
                                style="color: #f44336;">
                                {{ profileForm.get("firstName").hasError("required")? "Ce champ est obligatoire ": ""}}
                                {{ profileForm.get("firstName").hasError("minlength")? "Veuillez entrer un nom valide!
                                ": ""}}

                            </small>
                        </div>
                        <label for="lastName">Prénom de l'enseignant</label>
                        <div class="field">
                            <span class="login-input-wrapper">

                                <input type="text" formControlName="lastName" required [(ngModel)]="profile.lastName"
                                    pInputText placeholder="Entrer votre prénom..."
                                    [ngClass]="!profileForm.controls['lastName'].valid && profileForm.controls['lastName']?.touched?'ng-invalid ng-dirty':''" />
                            </span>
                            <small class="text-red-500"
                                *ngIf="!profileForm.controls['lastName'].valid && profileForm.controls['lastName']?.touched "
                                style="color: #f44336;">
                                {{ profileForm.get("lastName").hasError("required")? "Ce champ est obligatoire ": ""}}
                                {{ profileForm.get("lastName").hasError("minlength")? "Veuillez entrer un prénom valide!
                                ": ""}}

                            </small>
                        </div>
                        <label for="adresse">Adresse</label>
                        <div class="field">
                            <span class="login-input-wrapper">
                                <input type="text" formControlName="address" required [(ngModel)]="profile.address"
                                    pInputText placeholder="Entrer votre prénom..."
                                    [ngClass]="!profileForm.controls['address'].valid && profileForm.controls['address']?.touched?'ng-invalid ng-dirty':''" />
                            </span>
                            <small class="text-red-500"
                                *ngIf="!profileForm.controls['address'].valid && profileForm.controls['address']?.touched "
                                style="color: #f44336;">
                                {{ profileForm.get("address").hasError("required")? "Ce champ est obligatoire ": ""}}
                                {{ profileForm.get("address").hasError("minlength")? "Veuillez entrer une adresse
                                valide!
                                ": ""}}
                            </small>
                        </div>

                        <label for="phone">Numéro de téléphone:</label>
                        <div class="field">
                            <span class="login-input-wrapper">

                                <input type="text" id="phone" formControlName="phone" required
                                    [(ngModel)]="profile.phone" pInputText
                                    placeholder="Entrer votre numéro de téléphone..."
                                    [ngClass]="!profileForm.controls['phone'].valid && profileForm.controls['phone']?.touched?'ng-invalid ng-dirty':''" />
                            </span>
                            <small class="text-red-500"
                                *ngIf="!profileForm.controls['phone'].valid && profileForm.controls['phone']?.touched "
                                style="color: #f44336;">
                                {{ profileForm.get("phone").hasError("required")? "Ce champ est obligatoire
                                ": ""}}
                                {{ profileForm.get("phone").hasError("pattern") ? "Veuillez entrer un numéro valide
                                ": ""}}
                                {{ profileForm.get("phone").hasError("minlength") ? "Le numéro de téléphone doit
                                contenir 8
                                chiffres
                                ": ""}}
                                {{ profileForm.get("phone").hasError("maxlength") ? "Le numéro de téléphone ne doit
                                dépasser 8
                                chiffres
                                ": ""}}

                            </small>
                        </div>


                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button type="button" class="btn btn-success" (click)="updateProfileDialog = false">cancel</button>
                <button type="button" class="btn btn-warn" (click)="updateProfile()"
                    [disabled]="profileForm.invalid">Save</button>
            </ng-template>
        </p-dialog>

        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="breadcrumb-list">
                            <nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item">Instructors List</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->

        <!-- Page Wrapper -->
        <div class="page-content">

            <div class="container">
                <div class="row">
                    <div class="col-lg-9">

                        <!-- Filter -->
                        <div class="showing-list">
                            <div class="row">
                                <div class="col-lg-6">
                                </div>
                                <div class="col-lg-6">
                                    <div class="show-filter add-course-info">
                                        <form action="#">
                                            <div class="row gx-2 align-items-center">
                                                <div class="col-md-6 col-item">
                                                    <div class=" search-group">
                                                        <i class="feather-search"></i>
                                                        <input type="text" class="form-control"
                                                            placeholder="Search our courses"
                                                            [(ngModel)]="FormateurSearch" (input)="onSearch()"
                                                            [ngModelOptions]="{standalone: true}">
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Filter -->

                        <div class="row" *ngFor="let f of filteredFormateur">

                            <!-- Instructor List -->
                            <div class="col-lg-12 d-flex">
                                <div class="instructor-list flex-fill">
                                    <div class="instructor-content">
                                        <h5><a>{{f.username}}</a></h5>
                                        <h5><a>{{f.email}}</a></h5>
                                        <h6>Instructor</h6>

                                        <div class="instructor-info">
                                            <div class="rating-img d-flex align-items-center">
                                                <img src="assets/img/icon/icon-01.svg" class="me-1" alt="">
                                                <p>12+ Lesson</p>
                                            </div>
                                            <div class="course-view d-flex align-items-center ms-0">
                                                <img src="assets/img/icon/icon-02.svg" class="me-1" alt="">
                                                <p>9hr 30min</p>
                                            </div>
                                            <div class="rating-img d-flex align-items-center">
                                                <img src="assets/img/icon/user-icon.svg" class="me-1" alt="">
                                                <p>50 Students</p>
                                            </div>
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                            </div>
                                            <a href="#rate" class="rating-count"><i class="fa-regular fa-heart"></i></a>
                                        </div>

                                    </div>
                                    <button type="button" class="btn btn-success" (click)="updateProfileDialog = false">cancel</button>
                                    <button type="button" class="btn btn-success"
                                        (click)="updateProfileDialog = true;getProfileByIdUser(f.id)">Update</button>
                                </div>

                            </div>
                            <!-- /Instructor List -->


                        </div>



                    </div>

                    <div class="col-lg-3">
                        <div class="filter-clear">
                            <div class="clear-filter d-flex align-items-center">
                                <form action="#">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-md-6 col-item">
                                            <div class=" search-group">


                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->



    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js"></script>

</body>