
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
		
			<!-- Page Wrapper -->
			<div class="page-content">
				<div class="container">
					<div class="row">
						
						<!-- Sidebar -->
						<div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
							<div class="settings-widget dash-profile">
								<div class="settings-menu p-0">
									<div class="profile-bg">
										<h5>Beginner</h5>
										<img src="assets/img/instructor-profile-bg.jpg" alt="">
										<div class="profile-img">
											<a href="instructor-profile.html"><img src="assets/img/user/user15.jpg" alt=""></a>
										</div>
									</div>
									<div class="profile-group">
										<div class="profile-name text-center">
											<h4><a href="instructor-profile.html">Jenny Wilson</a></h4>
											<p>Instructor</p>
										</div>
										<div class="go-dashboard text-center">
											<a href="add-course.html" class="btn btn-primary">Create New Course</a>
										</div>
									</div>
								</div>
							</div>
							<div class="settings-widget account-settings">
								<div class="settings-menu">
									<h3>DASHBOARD</h3>
									<ul>
										<li class="nav-item ">
											<a href="instructor-dashboard.html" class="nav-link">
												<i class="feather-home"></i> My Dashboard
											</a>
										</li>
										<li class="nav-item ">
											<a href="instructor-course.html" class="nav-link">
												<i class="feather-book"></i> My Courses
											</a>
										</li>
										<li class="nav-item active">
											<a href="instructor-reviews.html" class="nav-link">
												<i class="feather-star"></i> Reviews
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-earnings.html" class="nav-link">
												<i class="feather-pie-chart"></i> Earnings
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-orders.html" class="nav-link">
												<i class="feather-shopping-bag"></i> Orders
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-student-grid.html" class="nav-link">
												<i class="feather-users"></i> Students
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-payouts.html" class="nav-link">
												<i class="feather-dollar-sign"></i> Payouts
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-tickets.html" class="nav-link">
												<i class="feather-server"></i> Support Tickets
											</a>
										</li>
									</ul>
									<div class="instructor-title">
										<h3>ACCOUNT SETTINGS</h3>
									</div>
									<ul>
										<li class="nav-item">
											<a href="instructor-edit-profile.html" class="nav-link ">
												<i class="feather-settings"></i> Edit Profile
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-security.html" class="nav-link">
												<i class="feather-user"></i> Security
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-social-profiles.html" class="nav-link">
												<i class="feather-refresh-cw"></i> Social Profiles
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-notification.html" class="nav-link">
												<i class="feather-bell"></i> Notifications
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-profile-privacy.html" class="nav-link">
												<i class="feather-lock"></i> Profile Privacy
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-delete-profile.html" class="nav-link">
												<i class="feather-trash-2"></i> Delete Profile
											</a>
										</li>
										<li class="nav-item">
											<a href="instructor-linked-account.html" class="nav-link">
												<i class="feather-user"></i> Linked Accounts
											</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">
												<i class="feather-power"></i> Sign Out
											</a>
										</li>
									</ul>
								</div>
							</div>					
						</div>
						<!-- /Sidebar -->
						
						<!-- Instructor Dashboard -->
						<div class="col-xl-9 col-lg-8 col-md-12">	
							<div class="row">
								<div class="col-md-12">
									<div class="settings-widget">
										<div class="settings-inner-blk p-0">
											<div class="sell-course-head comman-space">
												<h3>Reviews</h3>
												<p>You have full control to manage your own account setting.</p>
											</div>
											<div class="comman-space pb-0">
												<div class="instruct-search-blk mb-0">
													<div class="show-filter all-select-blk">
														<form action="#">
															<div class="row gx-2 align-items-center">	
																<div class="col-md-6 col-lg-3 col-item">
																	<div class="input-block select-form mb-1">
																		<select class="form-select select"  name="sellist1">
																		  <option>All</option>
																		  <option>review 1</option>
																		  <option>review 2</option>
																		  <option>review 3</option>
																		</select>
																	</div>
																</div>	
																<div class="col-md-6 col-lg-3 col-item">
																	<div class="input-block select-form mb-1">
																		<select class="form-select select"  name="sellist1">
																		  <option>Rating</option>
																		  <option>5</option>
																		  <option>4</option>
																		  <option>3</option>
																		</select>
																	</div>
																</div>
																<div class="col-md-6 col-lg-3 col-item">
																	<div class="input-block select-form mb-1">
																		<select class="form-select select"  name="sellist1">
																		  <option>Sort</option>
																		  <option>Sort 1</option>
																		  <option>Sort 2</option>
																		  <option>Sort 3</option>
																		</select>
																	</div>
																</div>	
															</div>
														</form>
													</div>
												</div>
											</div>
											<div class="comman-space bdr-bottom-line" *ngFor="let commentaire of commentaires">
												<div class="instruct-review-blk ">
													<div class="review-item">
														<div class="instructor-wrap border-0 m-0">
															<div class="about-instructor">
																<div class="abt-instructor-img">
																	<a href="instructor-profile.html"><img src="assets/img/user/user1.jpg" alt="img" class="img-fluid"></a>
																</div>
																<div class="instructor-detail">
																	<h5><a href="instructor-profile.html">{{commentaire.fullname}}</a></h5>
																	<p>{{commentaire.subject}}</p>
																</div>
															</div>
															<div class="rating">							
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star"></i>
															</div>
														</div>
														<p class="rev-info">“ {{commentaire.corp}} “</p>
                                                 	
													</div>
												</div>	
                                                
                                        
											</div>
											<!-- Afficher les réponses -->
  

										</div>
									</div>
								</div>
							</div>
						</div>	
						<!-- /Instructor Dashboard -->
						
					</div>
				</div>
			</div>	
			<!-- /Page Wrapper -->

		   
		</div>
	   	<!-- /Main Wrapper -->   
	  
		<!-- jQuery -->
		<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>

		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>

		<!-- Select2 JS -->
	  	<script src="assets/plugins/select2/js/select2.min.js"></script>

		<!-- Feature JS -->
		<script src="assets/plugins/feather/feather.min.js"></script>

		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>

