<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <app-navbar></app-navbar>
        <!-- /Header -->

        <!--Dashbord Student -->
        <div class="page-content">
            <div class="container">
                <div class="row">
						<!-- sidebar -->
						<div class="col-xl-3 col-md-4 theiaStickySidebar">
							<div class="settings-widget dash-profile mb-3">
								<div class="settings-menu p-0">
									<div class="profile-bg">
										<h5>Super Admin</h5>
										<img src="assets/img/profile-bg.jpg" alt="">
										<div class="profile-img">
											<a href="student-profile.html"><img src="assets/img/user/user11.jpg" alt=""></a>
										</div>
									</div>
									<div class="profile-group">
										<div class="profile-name text-center">
											<h4><a href="student-profile.html">Rolands R</a></h4>
											
										</div>
										<div class="go-dashboard text-center">
											<a href="deposit-student-dashboard.html" class="btn btn-primary">Go to Dashboard</a>
										</div>
									</div>
								</div>
							</div>
							<div class="settings-widget account-settings">
								<div class="settings-menu">
									<h3>ACCOUNT SETTINGS</h3>
									<ul>
										<li class="nav-item active">
											<a  [routerLink]="['/editProfile']" class="nav-link">
												<i class="feather-settings"></i> Edit Profile
											</a>
											
										</li>
										<li class="nav-item">
											<a  [routerLink]="['/addAdmin']" class="nav-link">
												<i class="feather-user-plus"></i> Add Admin
											</a>
										</li>
										<li class="nav-item">
											<a  [routerLink]="['/addFormateur']" class="nav-link">
												<i class="feather-user-plus"></i> Add Fomateur
											</a>
										</li>                                 
										<li class="nav-item">
											<a  [routerLink]="['/admin-list']" class="nav-link">
												<i class="feather-book"></i> Admin List
											</a>
										</li>
										<li class="nav-item">
											<a [routerLink]="['/formateur-list']" class="nav-link">
												<i class="feather-book"></i> Instructor List
											</a>
										</li>
                                        <li class="nav-item active">
											<a [routerLink]="['/change-password']" class="nav-link">
												<i class="feather-user"></i> Security
											</a>
										</li>
										 <!--<li class="nav-item">
											<a href="setting-student-notification.html" class="nav-link">
												<i class="feather-bell"></i> Notifications
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-privacy.html" class="nav-link">
												<i class="feather-lock"></i> Profile Privacy
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-delete-profile.html" class="nav-link">
												<i class="feather-trash-2"></i> Delete Profile
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-accounts.html" class="nav-link">
												<i class="feather-user"></i> Linked Accounts
											</a>
										</li>
										
										<li class="nav-item">
											<a href="login.html" class="nav-link">
												<i class="feather-power"></i> Sign Out
											</a>
										</li>
									</ul>-->
									<!-- <h3>SUBSCRIPTION</h3>
									<ul>
										<li class="nav-item">
											<a href="setting-student-subscription.html" class="nav-link ">
												<i class="feather-calendar"></i> My Subscriptions
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-billing.html" class="nav-link">
												<i class="feather-credit-card"></i> Billing Info
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-payment.html" class="nav-link">
												<i class="feather-credit-card"></i> Payment
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-invoice.html" class="nav-link">
												<i class="feather-clipboard"></i> Invoice
											</a>
										</li>-->
									</ul> 
								</div>
							</div>					
						</div>
						<!-- /sidebar -->
                    <!-- Student Security -->
                    <div class="col-xl-9 col-md-8">
                        <div class="settings-widget profile-details">
                            <div class="settings-menu p-0">
                                <div class="profile-heading">
                                    <h3>Security</h3>
                                    <p>Edit your account settings and change your password here.</p>
                                </div>
                                <!--   <div class="checkout-form personal-address border-line">
                                  <div class="personal-info-head">
                                        <h4>Email Address</h4>
                                        <p>Your current email address is <span><a
                                                    href="https://dreamslms.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="fb969a838c9e9797bb9e839a968b979ed5989496">[email&#160;protected]</a></span>
                                        </p>
                                    </div>
                                 <form action="#">
                                        <div class="new-address">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-block">
                                                        <label class="form-control-label">New email address</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter your New email address">
                                                    </div>
                                                </div>
                                                <div class="profile-share d-flex ">
                                                    <button type="button" class="btn btn-success">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>  
                                </div>--> 
                                <div class="checkout-form personal-address">
                                    <div class="personal-info-head">
                                        <h4>Change Password</h4>
                                        <p>We will email you a confirmation when changing your password, so please
                                            expect that email after submitting.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <form action="#" [formGroup]="changePasswordForm">
                                                <div class="input-block">
                                                    <label class="form-control-label">Current password</label>
                                                    <input type="password" class="form-control"  formControlName="oldPassword" required
                                                    placeholder="Current password"> 
                                                    <small class="text-red-500"
                                                    *ngIf="!changePasswordForm.controls['password'].valid && changePasswordForm.controls['password']?.touched "
                                                    style="color: #df2e21;">
                                                    {{ changePasswordForm.get("password").hasError("required")? "Ce champ est obligatoire
                                                    ": ""}}
                                
                                                    {{ changePasswordForm.get("password").hasError("pattern")? "Le mot de passe doit contenir au minimum
                                                    6 caractères, à savoir: au moins une lettre minuscule, une lettre majuscule, et un chiffre
                                                    ": ""}}
                                
                                                </small>
                                                </div>
                                                <div class="input-block">
                                                    <label class="form-control-label">New Password</label>
                                                    <div class="pass-group" id="passwordInput">
                                                        <input type="password" class="form-control pass-input"
                                                        formControlName="password" required placeholder="New Password">
                                                            <small class="text-red-500"
                                                            *ngIf="!changePasswordForm.controls['password'].valid && changePasswordForm.controls['password']?.touched "
                                                            style="color: #df2e21;">
                                                            {{ changePasswordForm.get("password").hasError("required")? "Ce champ est obligatoire
                                                            ": ""}}
                                        
                                                            {{ changePasswordForm.get("password").hasError("pattern")? "Le mot de passe doit contenir au minimum
                                                            6 caractères, à savoir: au moins une lettre minuscule, une lettre majuscule, et un chiffre
                                                            ": ""}}
                                        
                                                        </small>
                                                    </div>
                                                    <div class="password-strength" id="passwordStrength">
                                                        <span id="poor"></span>
                                                        <span id="weak"></span>
                                                        <span id="strong"></span>
                                                        <span id="heavy"></span>
                                                    </div>
                                                    <div id="passwordInfo"></div>
                                                </div>
                                                <div class="input-block">
                                                    <label class="form-control-label">Confirm New Password</label>
                                                    <input type="password" class="form-control"formControlName="confirmPassword" required
                                                    placeholder="Confirmer mot de passe ">
                                                    <small class="text-red-500"
                                                    *ngIf="!changePasswordForm.controls['confirmPassword'].valid && changePasswordForm.controls['confirmPassword']?.touched "
                                                    style="color: #df2e21;">
                                                    {{ changePasswordForm.get("confirmPassword").hasError("required")? "Ce champ est obligatoire
                                                    ": ""}}
                                
                                                    {{ changePasswordForm.get("confirmPassword").hasError("mustMatch")? "veuillez confirmer votre mot de
                                                    passe !
                                                    ": ""}}
                                
                                                </small>
                                                </div>
                                                <div class="update-profile save-password">
                                                    <button type="button" class="btn btn-primary" 
                                                     [disabled]="changePasswordForm.invalid" (click)="changePassword()">Save Password</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Dashbord Student -->

        <!-- Footer -->


    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js"></script>

    <!-- Feature JS -->
    <script src="assets/plugins/feather/feather.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js"></script>

</body>