<body>

    <div class="main-wrapper">

        <div class="page-content">
            <div class="container">
                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
                        <div class="settings-widget dash-profile">
                            <div class="settings-menu p-0">
                                <div class="profile-bg">
                                    <h5>Beginner</h5>
                                    <img src="assets/img/instructor-profile-bg.jpg" alt>
                                    <div class="profile-img">
                                        <a href="instructor-profile.html"><img src="assets/img/user/user15.jpg" alt></a>
                                    </div>
                                </div>
                                <div class="profile-group">
                                    <div class="profile-name text-center">
                                        <h4><a href="instructor-profile.html">Jenny Wilson</a></h4>
                                        <p>Instructor</p>
                                    </div>
                                    <div class="go-dashboard text-center">
                                        <a routerLink="/addBlog" class="btn btn-primary">Create New Blog</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings-widget account-settings">
                            <div class="settings-menu">
                                <h3>DASHBOARD</h3>
                                <ul>

                                    <li class="nav-item active">
                                        <a routerLink="/listBlog" class="nav-link">
                                            <i class="feather-book"></i> My Blogs
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a href="instructor-reviews.html" class="nav-link">
                                            <i class="feather-star"></i> Reviews
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-earnings.html" class="nav-link">
                                            <i class="feather-pie-chart"></i> Earnings
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-orders.html" class="nav-link">
                                            <i class="feather-shopping-bag"></i> Orders
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-student-grid.html" class="nav-link">
                                            <i class="feather-users"></i> Students
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-payouts.html" class="nav-link">
                                            <i class="feather-dollar-sign"></i> Payouts
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-tickets.html" class="nav-link">
                                            <i class="feather-server"></i> Support Tickets
                                        </a>
                                    </li> -->
                                </ul>
                                <!-- <div class="instructor-title">
                                    <h3>ACCOUNT SETTINGS</h3>
                                </div> -->
                                <!-- <ul>
                                    <li class="nav-item">
                                        <a href="instructor-edit-profile.html" class="nav-link ">
                                            <i class="feather-settings"></i> Edit Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-security.html" class="nav-link">
                                            <i class="feather-user"></i> Security
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-social-profiles.html" class="nav-link">
                                            <i class="feather-refresh-cw"></i> Social Profiles
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-notification.html" class="nav-link">
                                            <i class="feather-bell"></i> Notifications
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-profile-privacy.html" class="nav-link">
                                            <i class="feather-lock"></i> Profile Privacy
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-delete-profile.html" class="nav-link">
                                            <i class="feather-trash-2"></i> Delete Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="instructor-linked-account.html" class="nav-link">
                                            <i class="feather-user"></i> Linked Accounts
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            <i class="feather-power"></i> Sign Out
                                        </a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="settings-widget">
                                    <div class="settings-inner-blk p-0">
                                        <div class="sell-course-head comman-space">
                                            <h3>My Blogs </h3>
                                            <p>Manage your blogs and its update like interactions, delete and insight.
                                            </p>
                                        </div>
                                        <div class="comman-space pb-0">
                                            <div class="instruct-search-blk">
                                                <div class="show-filter choose-search-blk">

                                                    <div class="row gx-2 align-items-center">
                                                        <div class="col-md-6 col-item">
                                                            <div class=" search-group">
                                                                <i class="feather-search"></i>
                                                                <input type="text" class="form-control"
                                                                    [(ngModel)]="searchInput" placeholder="Search blog"
                                                                    (input)="onSearch()">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-item">
                                                            <div class="input-block select-form mb-0">
                                                                <select class="form-select select" id="sortBy"
                                                                    [(ngModel)]="sortBy" (change)="onSortChange()">
                                                                    <option value="blogCode">Choose</option>
                                                                    <option value="dateBlog">Date</option>
                                                                    <option value="domaine">Domaines</option>
                                                                    <option value="titreBlog">Titres </option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="settings-tickets-blk course-instruct-blk table-responsive">

                                                <table class="table table-nowrap mb-2">
                                                    <thead>
                                                        <tr>
                                                            <th>Blogs</th>
                                                            <th>Status</th>
                                                            <th>Comments</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let blog of filteredBlogs">
                                                            <td>
                                                                <div class="sell-table-group d-flex align-items-center">
                                                                    <div class="sell-group-img">

                                                                        <img *ngIf="blog.photo"
                                                                            [src]="getBlogPhotoUrl(blog)"
                                                                            alt="Blog Photo" class="img-fluid ">

                                                                    </div>
                                                                    <div class="sell-tabel-info">
                                                                        <p><a
                                                                                [routerLink]="['/detailsBlog/', blog.blogCode]">
                                                                                {{blog.titreBlog}}
                                                                            </a>
                                                                        </p>

                                                                        <div
                                                                            class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                                                            <div
                                                                                class="rating-img d-flex align-items-center">
                                                                                <img src="assets/img/icon/icon-01.svg"
                                                                                    alt>
                                                                                <p>{{blog.domaine}}</p>
                                                                            </div>
                                                                            <div
                                                                                class="course-view d-flex align-items-center">
                                                                                <img src="assets/img/icon/timer-start.svg"
                                                                                    alt>
                                                                                <p>{{blog.dateBlog}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <span class="badge info-low"
                                                                    *ngIf="blog.status==true">Approved</span>
                                                                <span class="badge info-high"
                                                                    *ngIf="blog.status==false">In progress</span>

                                                            </td>
                                                            <td>
                                                                <!-- <button (click)="deleteBlog(blog)"
                                                                    class="btn btn-danger">Delete</button>
                                                                <div class="go-dashboard text-center">

                                                                    <button (click)="navigateToUpdate(blog.blogCode)"
                                                                        class="btn btn-primary">Update</button>
                                                                </div> -->

                                                                <div
                                                                    class="profile-share d-flex align-items-center justify-content-center">
                                                                    <a (click)="navigateToUpdate(blog.blogCode)"
                                                                        class="btn btn-success">Update</a>
                                                                    <a (click)="deleteBlog(blog)"
                                                                        class="btn btn-danger">Delete</a>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-3.7.1.min.js" type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>

    <script src="assets/js/bootstrap.bundle.min.js" type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>

    <script src="assets/plugins/select2/js/select2.min.js" type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>

    <script src="assets/plugins/feather/feather.min.js" type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>

    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"
        type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"
        type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>

    <script src="assets/js/script.js" type="dfcfb3dcda4aeddb1b95665d-text/javascript"></script>
    <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="dfcfb3dcda4aeddb1b95665d-|49" defer></script>
</body>