<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
    
        <!-- Header -->
 
        <!-- /Header -->
        
        <!--Dashbord Student -->
        <div class="page-content">
            <div class="container">
                <div class="row" >                 
                    <!-- sidebar -->
                    <div class="col-xl-3 col-md-4 theiaStickySidebar">
                        <div class="settings-widget dash-profile mb-3">
                            <div class="settings-menu p-0">
                                <div class="profile-bg">
                                    <h5>Super Admin</h5>
                                    <img src="assets/img/profile-bg.jpg" alt="">
                                    <div class="profile-img">
                                        <a href="student-profile.html"><img src="assets/img/user/user11.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="profile-group">
                                    <div class="profile-name text-center">
                                        <h4><a href="student-profile.html">Rolands R</a></h4>
                                        
                                    </div>
                                    <div class="go-dashboard text-center">
                                        <a href="deposit-student-dashboard.html" class="btn btn-primary">Go to Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings-widget account-settings">
                            <div class="settings-menu">
                                <h3>ACCOUNT SETTINGS</h3>
                                <ul>
                                    <li class="nav-item active">
                                        <a  [routerLink]="['/editProfile']" class="nav-link">
                                            <i class="feather-settings"></i> Edit Profile
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <a  [routerLink]="['/addAdmin']" class="nav-link">
                                            <i class="feather-user-plus"></i> Add Admin
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a  [routerLink]="['/addFormateur']" class="nav-link">
                                            <i class="feather-user-plus"></i> Add Fomateur
                                        </a>
                                    </li>                                 
                                    <li class="nav-item">
                                        <a  [routerLink]="['/admin-list']" class="nav-link">
                                            <i class="feather-book"></i> Admin List
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a [routerLink]="['/formateur-list']" class="nav-link">
                                            <i class="feather-book"></i> Instructor List
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a [routerLink]="['/change-password']" class="nav-link">
                                            <i class="feather-user"></i> Security
                                        </a>
                                    </li>
                                     <!--<li class="nav-item">
                                        <a href="setting-student-notification.html" class="nav-link">
                                            <i class="feather-bell"></i> Notifications
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-privacy.html" class="nav-link">
                                            <i class="feather-lock"></i> Profile Privacy
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-delete-profile.html" class="nav-link">
                                            <i class="feather-trash-2"></i> Delete Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-accounts.html" class="nav-link">
                                            <i class="feather-user"></i> Linked Accounts
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a href="login.html" class="nav-link">
                                            <i class="feather-power"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>-->
                                <!-- <h3>SUBSCRIPTION</h3>
                                <ul>
                                    <li class="nav-item">
                                        <a href="setting-student-subscription.html" class="nav-link ">
                                            <i class="feather-calendar"></i> My Subscriptions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-billing.html" class="nav-link">
                                            <i class="feather-credit-card"></i> Billing Info
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-payment.html" class="nav-link">
                                            <i class="feather-credit-card"></i> Payment
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="setting-student-invoice.html" class="nav-link">
                                            <i class="feather-clipboard"></i> Invoice
                                        </a>
                                    </li>-->
                                </ul> 
                            </div>
                        </div>					
                    </div>
                    <!-- /sidebar -->
                    
                    <!-- Profile Details -->
                    <div class="col-xl-9 col-md-8">	
                        <div class="settings-widget profile-details">
                            <div class="settings-menu p-0">
              
                                <div class="checkout-form personal-address add-course-info ">
                         
                                    <form action="#" [formGroup]="profileForm">
                                        <div class="profile-heading">
                                            <h3>Profile Details</h3>
                                            <p>You have full control to manage your own account setting.</p>
                                        </div>
                                        <div class="course-group mb-0 d-flex">
                                            <div class="course-group-img d-flex align-items-center">
                                                <img *ngIf="profileUser.photo"
                                                [src]="getProfilePhotoUrl(profileUser)"
                                                alt="profile Photo" class="img-fluid ">
                                                <div class="course-name">
                                                    <h4><a href="student-profile.html">Your avatar</a></h4>
                                                    <p>PNG or JPG no bigger than 800px wide and tall.</p>
                                                </div>
                                            </div>
                                            <div class="profile-share d-flex align-items-center justify-content-center">
                                                <a href="javascript:void(0);" class="btn btn-success"   [routerLink]="['/user/upload/', profileUser.id]">Update</a>
                                               <!-- <a href="javascript:void(0);" class="btn btn-danger">Delete</a> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="input-block">
                                                    <label class="form-control-label">First Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter your first Name" formControlName="firstName" required
                                                        [(ngModel)]="profileUser!.firstName" pInputText
                                                        [ngClass]="!profileForm.controls['firstName'].valid && profileForm.controls['firstName']?.touched?'ng-invalid ng-dirty':''">
                                                </div>
                                                
                                                <small class="text-red-500"
                                                    *ngIf="!profileForm.controls['firstName'].valid && profileForm.controls['firstName']?.touched "
                                                    style="color: #f44336;">
                                                    {{ profileForm.get("firstName").hasError("required")? "Ce champ est obligatoire ": ""}}
                                                    {{ profileForm.get("firstName").hasError("minlength")? "Veuillez entrer un nom valide!": ""}}
                                                
                                                </small>

                                                </div>
                                                <div class="col-lg-6">
                                                <div class="input-block">
                                                    <label class="form-control-label">Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter your last Name" formControlName="lastName" required
                                                        [(ngModel)]="profileUser.lastName"
                                                        [ngClass]="!profileForm.controls['lastName'].valid && profileForm.controls['lastName']?.touched?'ng-invalid ng-dirty':''">
                                                    </div>
                                                    <small class="text-red-500"
                                                    *ngIf="!profileForm.controls['lastName'].valid && profileForm.controls['lastName']?.touched "
                                                    style="color: #f44336;">
                                                    {{ profileForm.get("lastName").hasError("required")? "Ce champ est obligatoire ": ""}}
                                                    {{ profileForm.get("lastName").hasError("minlength")? "Veuillez entrer un prénom valide!": ""}}
                                
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-block">
                                                    <label class="form-control-label">Phone</label>
                                                    <input type="text" class="form-control" placeholder="Enter your Phone" formControlName="phone" required
                                                        [(ngModel)]="profileUser.phone"
                                                        [ngClass]="!profileForm.controls['phone'].valid && profileForm.controls['phone']?.touched?'ng-invalid ng-dirty':''">
                                                </div>
                                                <small class="text-red-500" *ngIf="!profileForm.controls['phone'].valid && profileForm.controls['phone']?.touched "
                                                    style="color: #f44336;">
                                                    {{ profileForm.get("phone").hasError("required")? "Ce champ est obligatoire": ""}}
                                                    {{ profileForm.get("phone").hasError("pattern") ? "Veuillez entrer un numéro valide": ""}}
                                                    {{ profileForm.get("phone").hasError("minlength") ? "Le numéro de téléphone doit contenir 8 chiffres": ""}}
                                                    {{ profileForm.get("phone").hasError("maxlength") ? "Le numéro de téléphone ne doit dépasser 8chiffres": ""}}
                                            
                                                </small>
                                            </div>
           
                                            <div class="col-lg-6">
                                                <div class="input-block">
                                                    <label  class="form-label">Country</label>
                                                    <select class="form-select select country-select"  name="sellist1">
                                                        <option>Select country</option>
                                                        <option>Tunisia</option>
                                                        <option>America</option>
                                                        <option>London</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="input-block">
                                                    <label class="form-control-label">Address</label>
                                                    <input type="text" class="form-control" placeholder="Address" formControlName="address" required
                                                        [(ngModel)]="profileUser.address"
                                                        [ngClass]="!profileForm.controls['address'].valid && profileForm.controls['address']?.touched?'ng-invalid ng-dirty':''">
                                                </div>
                                            </div>

      
                                            <div class="update-profile">
                                                <button type="button" class="btn btn-primary"  (click)="updateProfile(profileUser)">Update Profile</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>	
                    <!-- Profile Details -->
                    
                </div>
            </div>
        </div>	
        <!-- /Dashbord Student -->
        
        <!-- Footer -->
       
       
    </div>
   <!-- /Main Wrapper -->
  
    <!-- jQuery -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    
    <!-- Select2 JS -->
      <script src="assets/plugins/select2/js/select2.min.js"></script>
    
    <!-- Feature JS -->
    <script src="assets/plugins/feather/feather.min.js"></script>
    
    <!-- Sticky Sidebar JS -->
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
    
    <!-- Custom JS -->
    <script src="assets/js/script.js"></script>
    
</body>
