
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    <!-- Slick CSS -->
    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/assets/plugins/feather/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="error-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="error-box">
            <div class="error-logo">
                <a href="index-2.html">
                    <img src="/assets/img/logo/Logo Courzelo Text degradé.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <h4>Verify your email</h4>
            <h6 class="font-weight-normal">Enter the code </h6>
            <div class="come-soon-box">
                <div class="subscribe-soon">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()"
                    action="https://dreamslms.dreamstechnologies.com/html/instructor-dashboard.html">

                    <div class="input-block">
                        <label class="form-control-label">Code in the email</label>
                        <input type="text" class="form-control" placeholder="Enter your code " [(ngModel)]="user.token"
                            formControlName="token" required  />

                  
                        <label class="form-control-label">Password</label>
                        <input type="password" class="form-control" placeholder="Enter your password" [(ngModel)]="user.password"
                            formControlName="password" required  />
                        <small class="text-red-500"
                            *ngIf="resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password']?.touched"
                            style="color: #f44336;">
                            {{ resetPasswordForm.get("password").hasError("required")? "Ce champ est
                            obligatoire ": ""}}
                            {{ resetPasswordForm.get("password").hasError("pattern")? "Le mot de passe doit
                            contenir au minimum 6 caractères, à savoir: au moins une lettre minuscule, une
                            lettre majuscule, et un chiffre": ""}}
                        </small>
                    </div>
                    <div class="input-block">
                        <label class="form-control-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="confirm your password" 
                            formControlName="confirmPassword" required  />
                        <small class="text-red-500"
                            *ngIf="resetPasswordForm.controls['confirmPassword'].errors && resetPasswordForm.controls['confirmPassword']?.touched"
                            style="color: #f44336;">
                            {{ resetPasswordForm.get("confirmPassword").hasError("required")? "Ce champ est
                            obligatoire ": ""}}
                            {{ resetPasswordForm.get("confirmPassword").hasError("mustMatch")? "veuillez
                            confirmer votre mot de passe !": ""}}
                
                        </small>
                    </div>
                
                    <div class="d-grid">
                        <button class="btn btn-primary btn-start" type="submit"
                        [disabled]="resetPasswordForm.invalid">Apply</button>
                    </div>
                
                
                </form>
                     
                </div>

            </div>
        </div>

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js"></script>

</body>
