.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container img {
    max-width: 30px; /* ajustez la taille maximale de l'image selon vos besoins */
    height: 30px; /* permet de conserver les proportions de l'image */
  }
  