
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
            <app-navbar></app-navbar>
			<!-- /Header -->
			
			<!--Dashbord Student -->
			<div class="page-content">
				<div class="container">
					<div class="row">
						
						<!-- sidebar -->
						<div class="col-xl-3 col-md-4 theiaStickySidebar">
							<div class="settings-widget dash-profile mb-3">
								<div class="settings-menu p-0">
									<div class="profile-bg">
										<h5>Super Admin</h5>
										<img src="assets/img/profile-bg.jpg" alt="">
										<div class="profile-img">
											<a href="student-profile.html"><img src="assets/img/user/user11.jpg" alt=""></a>
										</div>
									</div>
									<div class="profile-group">
										<div class="profile-name text-center">
											<h4><a href="student-profile.html">Rolands R</a></h4>
											
										</div>
										<div class="go-dashboard text-center">
											<a href="deposit-student-dashboard.html" class="btn btn-primary">Go to Dashboard</a>
										</div>
									</div>
								</div>
							</div>
							<div class="settings-widget account-settings">
								<div class="settings-menu">
									<h3>ACCOUNT SETTINGS</h3>
									<ul>
										<li class="nav-item active">
											<a  [routerLink]="['/editProfile']" class="nav-link">
												<i class="feather-settings"></i> Edit Profile
											</a>
											
										</li>
										<li class="nav-item">
											<a  [routerLink]="['/addAdmin']" class="nav-link">
												<i class="feather-user-plus"></i> Add Admin
											</a>
										</li>
										<li class="nav-item">
											<a  [routerLink]="['/addFormateur']" class="nav-link">
												<i class="feather-user-plus"></i> Add Fomateur
											</a>
										</li>                                 
										<li class="nav-item">
											<a  [routerLink]="['/admin-list']" class="nav-link">
												<i class="feather-book"></i> Admin List
											</a>
										</li>
										<li class="nav-item">
											<a [routerLink]="['/formateur-list']" class="nav-link">
												<i class="feather-book"></i> Instructor List
											</a>
										</li>
                                        <li class="nav-item active">
											<a [routerLink]="['/change-password']" class="nav-link">
												<i class="feather-user"></i> Security
											</a>
										</li>
										 <!--<li class="nav-item">
											<a href="setting-student-notification.html" class="nav-link">
												<i class="feather-bell"></i> Notifications
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-privacy.html" class="nav-link">
												<i class="feather-lock"></i> Profile Privacy
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-delete-profile.html" class="nav-link">
												<i class="feather-trash-2"></i> Delete Profile
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-accounts.html" class="nav-link">
												<i class="feather-user"></i> Linked Accounts
											</a>
										</li>
										
										<li class="nav-item">
											<a href="login.html" class="nav-link">
												<i class="feather-power"></i> Sign Out
											</a>
										</li>
									</ul>-->
									<!-- <h3>SUBSCRIPTION</h3>
									<ul>
										<li class="nav-item">
											<a href="setting-student-subscription.html" class="nav-link ">
												<i class="feather-calendar"></i> My Subscriptions
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-billing.html" class="nav-link">
												<i class="feather-credit-card"></i> Billing Info
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-payment.html" class="nav-link">
												<i class="feather-credit-card"></i> Payment
											</a>
										</li>
										<li class="nav-item">
											<a href="setting-student-invoice.html" class="nav-link">
												<i class="feather-clipboard"></i> Invoice
											</a>
										</li>-->
									</ul> 
								</div>
							</div>					
						</div>
						<!-- /sidebar -->
						
						<!-- Profile Details -->
						<div class="col-xl-9 col-md-8">	
							<div class="settings-widget profile-details">
								<div class="settings-menu p-0">
									<div class="checkout-form personal-address add-course-info ">
										<div class="personal-info-head">
											<h4>Personal Details</h4>
											<p>Edit your personal information and address.</p>
										</div>
										<form action="#"   [formGroup]="AdminForm" >
											<div class="row">
												<div class="col-lg-6">
													<div class="input-block">
														<label class="form-control-label">Email</label>
														<input type="text" class="form-control" placeholder="Enter your Email"
                                                        [(ngModel)]="user.email"  formControlName="email">
													</div>
												</div>

											<!--
                                                <div class="col-lg-6">
													<div class="input-block">
														<label  class="form-label">Establishment</label>
														<select class="form-select select country-select"  name="sellist1">
															<option>Select Establishment</option>
															<option>Esprit</option>
															<option>ESB</option>
															
														</select>
													</div>
												</div>
                                            -->	

												<div class="update-profile">
													<button type="button" class="btn btn-success" (click)="registerAdmin()">Add</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>	
						<!-- Profile Details -->
						
					</div>
				</div>
			</div>	
			<!-- /Dashbord Student -->
			
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/logo.svg" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Instructor</h2>
									<ul>
										<li><a href="instructor-profile.html">Profile</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="instructor-list.html">Instructor</a></li>
										<li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Student</h2>
									<ul>
										<li><a href="student-profile.html">Profile</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="students-list.html">Student</a></li>
										<li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-4 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">News letter</h2>
									<div class="news-letter">
										<form>
											<input type="text" class="form-control" placeholder="Enter your email address" name="email">
										</form>
									</div>
									<div class="footer-contact-info">
										<div class="footer-address">
											<img src="assets/img/icon/icon-20.svg" alt="" class="img-fluid">
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<img src="assets/img/icon/icon-19.svg" alt="" class="img-fluid">
											<a href="https://dreamslms.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3e5a4c5b5f534d52534d7e5b465f534e525b105d5153">[email&#160;protected]</a>
										</p>
										<p class="mb-0">
											<img src="assets/img/icon/icon-21.svg" alt="" class="img-fluid">
											+19 123-456-7890
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6">
									<div class="privacy-policy">
										<ul>
											<li><a href="term-condition.html">Terms</a></li>
											<li><a href="privacy-policy.html">Privacy</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2023 DreamsLMS. All rights reserved.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Select2 JS -->
	  	<script src="assets/plugins/select2/js/select2.min.js"></script>
		
		<!-- Feature JS -->
		<script src="assets/plugins/feather/feather.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>

<!-- Mirrored from dreamslms.dreamstechnologies.com/html/setting-edit-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Feb 2024 21:44:55 GMT -->
