<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="support-wrap">
                    <h5>Liste des réclamations</h5>
                    <!-- Add search input field and submit button -->
                    <div class="go-dashboard text-center">
                        <a routerLink="/support" class="btn btn-primary">Create reclamation</a>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by Titre" [(ngModel)]="searchQuery">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="searchReclamations()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-right mb-2">
                        <button class="btn btn-primary" (click)="getReclamationsSort()">
                            <i class="fas fa-sort-alpha-down"></i> Sort by Titre
                        </button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <!--<th>ID</th>-->
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reclamation of reclamationList">
                               
                                <td>{{ reclamation?.titre }}</td>
                                <td>{{ reclamation?.description }}</td>
                                <td>{{ reclamation?.dateReclamation }}</td>
                                <td>
                                    <!-- Modify the button to navigate to the update page -->
                                    <button class="btn btn-primary btn-sm" (click)="navigateToUpdatePage(reclamation.reclamationId)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" (click)="deleteReclamation(reclamation?.reclamationId)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="reclamationList.length === 0">Aucune réclamation trouvée.</div>
                </div>
            </div>
        </div>
    </div>
</div>
